:root {
  --main-bg-color: #0f172a;
  --primary-accent: rgba(113, 255, 238, 0.75);
  --dark-accent: rgba(74, 185, 172, 0.199);
  --light-effect: rgba(0, 81, 255, 0.151);

  --text-white: #fff;
  --text-white-1: rgba(255, 255, 255, 0.85);
  --text-white-2: rgba(255, 255, 255, 56%);
  --text-white-3: rgba(255, 255, 255, 5%);

  --font-nav: 15px;
  --font-sub-head: 18px;
  --font-content: 16px;
  --font-size-btn: 14px;

  --size-s: 18px;
  --size-m: 24px;
  --size-l: 32px;
  --size-xl: 64px;

  --nav-transition: all 0.2s linear;
  --all-transition: all 0.1s linear;
}

@font-face {
  font-family: "sans-serif-1-bold";
  src: url("assets/fonts/2.woff2");
}
@font-face {
  font-family: "sans-serif-2-bold";
  src: url("assets/fonts/9.woff2");
}
@font-face {
  font-family: "sans-serif-1-light";
  src: url("assets/fonts/8.woff2");
}

/* Style Fixes */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* text selection color */
::-moz-selection {
  /* for Firefox */
  color: #134e4a;
  background: #5eead4;
}

::selection {
  color: #134e4a;
  background: #5eead4;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "sans-serif-1-bold";
  font-weight: 700;
  font-size: 2.5rem;
}

/* default stylings */
html {
  scroll-behavior: smooth;
}

p {
  font-family: "sans-serif-1-light";
  font-size: 16px;
  line-height: 19px;
}

a {
  color: var(--text-white);
}

a:hover {
  color: var(--primary-accent);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-white-2);
}

.light {
  position: fixed;
  z-index: -10;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.btn {
  font-size: var(--font-size-btn);
  color: var(--primary-accent);
  background-color: var(--dark-accent);
  border: 0;
  padding: 6px 14px;
  border-radius: 20px;
  margin: 6px 3px 0 0;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  max-width: 1100px;
}

/* Header Section */
.section {
  padding: var(--size-m) 0 calc(var(--size-xl) * 1.4) var(--size-m);
}
.header-section {
  box-sizing: border-box;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: calc(var(--size-xl) * 1.4) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 45%;
}

.header-section h1 {
  color: var(--text-white-1);
}

.header-section .subtitle {
  font-family: "sans-serif-2-bold";
  font-size: var(--font-sub-head);
  padding: 8px 0 0 0;
  color: var(--text-white-1);
}

.header-section .summary {
  font-family: "sans-serif-1-light";
  font-size: 16px;
  padding: calc(var(--size-l) / 2) 0 0 0;
  display: inline-block;
  width: 80%;
  line-height: 24px;
}

nav {
  padding: 0 0 0 50px;
}

nav ul {
  font-size: var(--font-nav);
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul a {
  display: inline-block;
  padding: 10px 0;
  position: relative;
  color: var(--text-white-2);
  position: relative;
  transition: var(--nav-transition);
}

/* Designing and Animating Navbar */
nav ul a:hover,
.active {
  color: var(--text-white-1);
  transform: translateX(65px);
}

nav ul a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-50px);
  width: 50px;
  height: 100%;
  transform-origin: left;
  transition: var(--nav-transition);
}

nav ul a:hover::before,
.active::before {
  transform: scaleX(2.3) translateX(-50px);
}

nav ul a::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-50px, 23px);
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--text-white-2);
  transform-origin: left;
  transition: var(--nav-transition);
}

nav ul a:hover::after,
.active::after {
  transform: scaleX(3.2) translate(-36px, 23px);
  background-color: var(--text-white-1);
}

.header-section .social-links img {
  opacity: 70%;
  margin-right: 16px;
  width: 28px;
  height: 28px;
}

.header-section .social-links img:hover {
  opacity: 100%;
}

/* Main Section */
.main-section {
  flex: 55%;
  /* border: solid white 1px; */
}

.section .subheading {
  padding: var(--size-m) 0 var(--size-m) 0;
  font-size: 35px;
  text-align: center;
  color: var(--text-white-1);
}

/* About Section */
.about-section {
  font-size: var(--font-content);
  padding-top: var(--size-xl);
  padding-left: calc(var(--size-m) * 2);
}

.about-section .subheading {
  padding-top: 0px;
  margin-top: 0px;
}

.about-section p {
  margin: 0 0 var(--size-s) 0;
}

/* experience Section */
.experience-section {
  font-size: var(--font-content);
}
.experience-section .left-col {
  width: 30%;
}
.experience-section .right-col {
  width: 70%;
}
.experience-section .experience-card {
  padding: var(--size-m);
  margin-bottom: var(--size-l);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  transition: var(--all-transition);
}

.experience-section .experience-card:hover {
  background-color: var(--text-white-3);
}

.experience-card .left-col p {
  font-size: 13px;
}

.experience-card h3 {
  font-size: 20px;
  color: var(--text-white-1);
}

.experience-card .role-title {
  font-size: 18px;
}

.experience-card .experience-desc {
  margin: var(--size-m) 0;
}

/* PROJECTS SECTION */
.projects-section .project-card {
  padding: var(--size-m);
  border-radius: 10px;
  margin-bottom: var(--size-l);
  transition: var(--all-transition);
}
.projects-section .project-card:hover {
  background-color: var(--text-white-3);
}
.project-card .project-title-card {
  display: flex;
  justify-content: space-between;
  margin: 0 0 var(--size-s) 0;
}

.project-title-card .project-title {
  font-size: 20px;
  color: var(--text-white-1);
}

.project-title-card .github {
  display: flex;
  align-items: center;
}

.project-title-card .github img {
  width: 25px;
  height: 25px;
  margin: 0 0 0 12px;
}

.projects-section .thumbnail{
  width: 100%;
  border-radius: 15px;
}

.projects-section .thumbnail:hover {
  cursor: pointer;
}

.project-card .project-desc {
  margin: var(--size-s) 0;
}

/* SKILLS SECTION */
.skills-section {
  margin-bottom: calc(var(--size-xl) * 3);
}
.skills-section .skills-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(86px, 1fr));
  gap: 10px;
}

.skills-section .skills-list .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--all-transition);
  opacity: 80%;
}

.skills-section .skills-list .skill:hover {
  opacity: 100;
  transform: scale(1.15);
}

.skills-section .skills-list .skill img {
  width: 56px;
  height: 56px;
}

.skills-section .skills-list .skill p {
  padding-top: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--text-white-1);
}

/* RESPONSIVE DESIGN */

/* iPads (portrait and landscape)  */
@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    margin-top: var(--size-l);
  }

  .header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: unset;
    padding: var(--size-s) 0;
    height: unset;
  }

  .header-section .social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .header-section .summary {
    padding: 0px;
    width: 100%;
  }
  nav {
    display: none;
  }

  .section {
    padding-bottom: var(--size-l);
  }

  .about-section {
    padding-left: 0px;
    margin-top: var(--size-m);
  }

  .section .subheading {
    font-size: 30px;
    text-align: left;
  }

  .experience-section,
  .projects-section,
  .skills-section {
    padding-left: 0px;
  }

  .experience-section .left-col,
  .experience-section .right-col {
    width: 100%;
  }

  .experience-section .experience-card {
    flex-direction: column;
    position: relative;
    padding: 0px;
  }

  .experience-section .experience-card:hover,
  .projects-section .project-card:hover {
    background-color: transparent;
  }

  .experience-card h3 {
    padding-bottom: var(--size-l);
  }

  .projects-section .project-card {
    padding: 0px;
    margin-bottom: var(--size-xl);
  }

  .experience-section .left-col p {
    position: absolute;
    top: 24px;
    left: clac(var(--size-m) - 12px);
  }

  #skills #skills-subheading {
    text-align: center;
  }
}

/* Smartphones and mobile devices */
@media only screen and (max-width: 620px) {
  .container {
    width: 90%;
  }
  .section {
    padding-left: 0px;
  }
  .about-section {
    padding-top: 0px;
  }
  h1 {
    font-size: 38px;
  }
  .header-section {
    flex-direction: column;
  }
  .header-section .social-links {
    flex-direction: row;
    justify-content: end;
    padding-top: var(--size-xl);
  }
  .header-section .subtitle {
    font-size: 16px;
    padding: 0;
  }
  .header-section .summary {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
  .section .subheading {
    font-size: 25px;
  }
}
