:root {
  --main-bg-color: #0f172a;
  --primary-accent: rgba(113, 255, 238, 0.75);
  --dark-accent: rgba(74, 185, 172, 0.199);
  --light-effect: rgba(0, 81, 255, 0.151);

  --text-white: #fff;
  --text-white-1: rgba(255, 255, 255, 0.85);
  --text-white-2: rgba(255, 255, 255, 56%);
  --text-white-3: rgba(255, 255, 255, 5%);

  --font-nav: 15px;
  --font-sub-head: 18px;
  --font-content: 16px;
  --font-size-btn: 14px;

  --size-s: 18px;
  --size-m: 24px;
  --size-l: 32px;
  --size-xl: 64px;

  --nav-transition: all 0.2s linear;
  --all-transition: all 0.1s linear;
}

@font-face {
  font-family: "sans-serif-1-bold";
  src: url("assets/fonts/2.woff2");
}
@font-face {
  font-family: "sans-serif-2-bold";
  src: url("assets/fonts/9.woff2");
}
@font-face {
  font-family: "sans-serif-1-light";
  src: url("assets/fonts/8.woff2");
}

/* Style Fixes */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "sans-serif-1-bold";
  font-weight: 700;
  font-size: 2.5rem;
}

/* default stylings */
html {
  scroll-behavior: smooth;
}

p {
  font-family: "sans-serif-1-light";
  font-size: 16px;
  line-height: 19px;
}

a {
  color: var(--text-white);
}

a:hover {
  color: var(--primary-accent);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-white-2);
}

.light {
  position: fixed;
  z-index: -10;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  max-width: 1100px;
}

/* Header Section */
.section {
  padding: var(--size-m) 0 calc(var(--size-xl) * 1.4) var(--size-m);
}
.header-section {
  box-sizing: border-box;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: calc(var(--size-xl) * 1.4) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 45%;
}

.header-section h1 {
  color: var(--text-white-1);
}

.header-section .subtitle {
  font-family: "sans-serif-2-bold";
  font-size: var(--font-sub-head);
  padding: 8px 0 0 0;
  color: var(--text-white-1);
}

.header-section .summary {
  font-family: "sans-serif-1-light";
  font-size: 16px;
  padding: calc(var(--size-l) / 2) 0 0 0;
  display: inline-block;
  width: 80%;
  line-height: 24px;
}

nav {
  padding: 0 0 0 50px;
}

nav ul {
  font-size: var(--font-nav);
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul a {
  display: inline-block;
  padding: 10px 0;
  position: relative;
  color: var(--text-white-2);
  position: relative;
  transition: var(--nav-transition);
}

/* Designing and Animating Navbar */
nav ul a:hover,
.active {
  color: var(--text-white-1);
  transform: translateX(65px);
}

nav ul a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-50px);
  width: 50px;
  height: 100%;
  transform-origin: left;
  transition: var(--nav-transition);
}

nav ul a:hover::before,
.active::before {
  transform: scaleX(2.3) translateX(-50px);
}

nav ul a::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-50px, 23px);
  width: 30px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--text-white-2);
  transform-origin: left;
  transition: var(--nav-transition);
}

nav ul a:hover::after,
.active::after {
  transform: scaleX(3.2) translate(-36px, 23px);
  background-color: var(--text-white-1);
}

.header-section .social-links img {
  opacity: 70%;
  margin-right: 16px;
  width: 28px;
  height: 28px;
}

.header-section .social-links img:hover {
  opacity: 100%;
}

/* Main Section */
.main-section {
  flex: 55%;
  /* border: solid white 1px; */
}

.section .subheading {
  padding: var(--size-m) 0 var(--size-m) 0;
  font-size: 35px;
  text-align: center;
  color: var(--text-white-1);
}

/* About Section */
.about-section {
  font-size: var(--font-content);
  padding-top: var(--size-xl);
  padding-left: calc(var(--size-m) * 2);
}

.about-section .subheading {
  padding-top: 0px;
  margin-top: 0px;
}

.about-section p {
  margin: 0 0 var(--size-s) 0;
}
