@font-face {
  font-family: "sans-serif-1-bold";
  src: url("assets/fonts/2.woff2");
}
@font-face {
  font-family: "sans-serif-2-bold";
  src: url("assets/fonts/9.woff2");
}
@font-face {
  font-family: "sans-serif-1-light";
  src: url("assets/fonts/8.woff2");
}
